[SddmGreeterTheme]
Name=SDDM theme «Arch Linux» by SlyDeath
Description=SlyDeath Arch Linux theme for KDE Plasma
Author=SlyDeath
Type=sddm-theme
Version=0.0.1
Website=https://github.com/SlyDeath/kde-plasma-sddm-theme-slydeath
Screenshot=preview.png
MainScript=Main.qml
ConfigFile=theme.conf
TranslationsDirectory=translations
Email=me@slydeath.ru
Theme-Id=kde-plasma-sddm-theme-slydeath
Theme-API=2.0
